@use "../utilities" as *;

.content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: $primary;

  @include responsive(tab) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .contentWrapper {
    max-width: rem(704);
    margin: 0 auto;
    height: 100%;
  }

  &__top {
    @extend %flex;
    justify-content: flex-end;
    padding-top: rem(42);
    margin-bottom: rem(66);

    .btn--degC {
      margin-right: rem(12);
    }
  }

  &__forecastWrapper {
    @extend %flex;
    width: 100%;
    height: auto;
    position: relative;
    min-height: rem(249);

    @include responsive(large) {
      flex-wrap: wrap;
    }
    @include responsive(small) {
      padding-top: rem(55);
    }
  }

  &__forecast {
    width: rem(120);
    height: rem(177);
    background-color: $secondary;
    text-align: center;
    padding: rem(18) 0 rem(18) 0;
    margin-bottom: rem(72);

    &:not(:last-child) {
      margin-right: rem(26);
    }

    &--day {
      color: $neutral1;
      margin-bottom: rem(10);
    }
    &--img {
      width: 100%;
      height: rem(62);
      margin-bottom: rem(31);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &--temp {
      .max {
        color: $neutral1;
        margin-right: rem(16);
      }

      .min {
        color: $neutral2;
      }
    }
  }

  &__highlights {
    width: 100%;
    height: auto;
    position: relative;
    min-height: rem(466);

    @include responsive(large) {
      padding-bottom: rem(96);
    }

    @include responsive(small) {
      padding-bottom: rem(60);
    }

    &--heading {
      font-size: rem(24);
      font-weight: bold;
      color: $neutral1;
      margin-bottom: rem(32);

      @include responsive(small) {
        text-align: center;
      }
    }

    &--dataContainer {
      @extend %flex;
      gap: rem(48);
      flex-wrap: wrap;
    }

    &--data {
      width: rem(328);
      height: auto;
      background-color: $secondary;
      padding: rem(22) 0 rem(22) 0;
      text-align: center;

      .type {
        color: $neutral1;
        margin-bottom: rem(14);
      }

      .measure {
        .number {
          font-size: rem(60);
          font-weight: 600;
          color: $neutral1;
        }
        .unit {
          color: $neutral1;
          font-size: rem(30);
        }
      }
      .measure--top {
        margin-bottom: rem(17);
      }

      .range {
        color: $neutral1;
        font-size: rem(14);
        width: rem(229);
        margin: 0 auto;
        &--scale {
          display: flex;
          justify-content: space-between;
        }
        &--indicator {
          width: 100%;
          border-radius: rem(4);
          margin: rem(2) 0 rem(4) 0;
          background-color: $neutral1;
          height: rem(8);
          .highlighted {
            background-color: $tertiary;
            height: rem(8);
            border-radius: rem(4);
          }
        }
        &--unit {
          display: flex;
          justify-content: flex-end;
        }
      }

      .directionIcon {
        display: inline-flex;
      }
    }
  }
}
