@use "../utilities" as *;

.overview {
  $root: &;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: $secondary;

  &__top {
    @extend %flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(42) rem(46) 0 rem(46);
    margin-bottom: rem(21);
  }

  &__down {
    position: relative;
    min-height: rem(500);
  }

  &__search {
    padding: rem(19.7) rem(46);

    &--form {
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(58);
    }

    &--history {
      list-style: none;
      font-size: rem(19);
      text-transform: capitalize;
      color: $neutral1;

      li {
        @extend %flex;
        justify-content: space-between;
        width: 100%;
        padding: rem(23) rem(16.42) rem(22) rem(12);
        cursor: pointer;
        margin-bottom: rem(27);

        svg {
          opacity: 0;
        }

        &:hover {
          border: 1px solid $placeholderColor;
          svg {
            opacity: 1;
          }
        }
      }
    }

    &--close {
      @extend %flex;
      justify-content: flex-end;
      margin-bottom: rem(45.21);
    }

    input {
      font-size: rem(19);
      background-color: $secondary;
      border: 1px solid $neutral1;
      outline: none;
      color: $neutral1;
      padding: rem(14) rem(10) rem(15) rem(15);

      &::placeholder {
        color: $placeholderColor;
        font-size: rem(19);
      }
    }
    .btn--submit {
      font-size: rem(19);
      padding: rem(14) rem(14) rem(15) rem(19);
      background-color: $submitBtnColor;
      color: $neutral1;
      text-transform: capitalize;
    }
  }

  &__middle {
    @extend %flex;
    height: rem(376);
    width: 100%;
    position: relative;
    margin-bottom: rem(33);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../assets/img/cloud-background.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      opacity: 0.05;
    }
  }

  &__bottom {
    @extend %flex;
    flex-flow: column;
    height: rem(492);
    width: 100%;

    #{$root}--tempContainer {
      @extend %flex;
      align-items: flex-end;
      width: rem(192);
      height: rem(169);
      margin-bottom: rem(87);
    }

    #{$root}--temp {
      .digit {
        color: $neutral1;
        font-size: rem(128);
      }
      .unit {
        color: $neutral2;
        font-size: rem(48);
        font-family: "Raleway", sans-serif;
      }
    }

    #{$root}--desc {
      font-size: rem(36);
      font-weight: 400;
      color: $neutral2;
      margin-bottom: rem(87);
      text-transform: capitalize;
    }

    #{$root}--datelocationcontainer {
      color: $neutral3;
      font-size: rem(18);
      span:not(:last-child) {
        margin-right: rem(16);
      }
    }

    #{$root}--datecontainer {
      margin-bottom: rem(32);
    }

    #{$root}--locationcontainer {
      @extend %flex;
      width: rem(96);
      height: rem(24);
      margin: 0 auto;
      padding-bottom: rem(52);
    }
  }
}

.locationIcon {
  margin-right: rem(9);
  path {
    fill: $neutral3;
  }
}
