@use '../utilities' as *;

.overview {
  $root: &;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: $secondary;
  padding: rem(42) rem(46) rem(52) rem(46);

  &__top {
    @extend %flex;
    justify-content: space-between;
    padding: 0 rem(46);
  }
}
