// colors
$primary: #100e1d;
$secondary: #1e213a;
$tertiary: #ffec65;
$tertiary2: #585676;
$tertiary3: #110e3c;
$neutral1: #e7e7eb;
$neutral2: #a09fb1;
$neutral3: #88869d;
$neutral4: #6e707a;
$neutral5: #ffffff33;
$placeholderColor: #616475;
$submitBtnColor: #3c47e9;

// svg animation
$offset: 187;
$duration: 1s;
